@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.cont{
    flex: auto;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding-top: calc(100px + 6vh);
    /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(219, 219, 194, 0.5)),
    url("../images/plainback.svg");
    background-repeat: no-repeat;
    height: 100%;
     */
}
body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(219, 219, 194, 0.5)),
    url("../images/plainback.svg");
    background-repeat: no-repeat;
}

.header{
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(5px + 3vmax);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    word-spacing: 3px;
    padding-right: 4px;
    padding-left: 4px;
 
    

}
.line {
    padding-left: 4px;
    padding-right: 4px;
    height: 2em;
    margin-left: 0.5em;
    
    
    
}

.purple{
    color: #8F00FF;
}
.cont {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
   
    background-repeat: no-repeat;

}