
*{ box-sizing: border-box;
  padding: 0%;
  margin: 0;
  scroll-behavior: smooth;

}

.App {
  text-align: center;
  padding-left: calc(100vw - 100%);  
}

.gradient_bg {
  
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(219, 219, 194, 0.5)),
  url("./images/plainback.svg");
  background-repeat: no-repeat;
}
.Header {
  background-image: url("https://i.ibb.co/rbtZf22/maincomp.png");
  position: relative;
 
  
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
 
  background-repeat: no-repeat;
  
  
}

.line {
  padding-left: 2px;
  padding-right: 2px;
  height: 1em;
  margin-left: 0.5em;
  
}
.line img {
  height: 2em;
  margin-top: 2px;
  
}
.appcont img {

width:100%;
height:auto;

}
.mainpage {
  padding: 35px 40px 40px 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(219, 219, 194, 0.5)),
  url("./images/plainback.svg");
  background-repeat: no-repeat;
  height: 100vh;
  
}
.headhead {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  

}
/* .headcont {
  margin-bottom: 800px;
} */
.track {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 350px;
  margin-left: 90px;

 

}
.trackbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  border: none;
  font-size: 20px;
  width: 20%;
  position: fixed;

}
.trackbutton:hover {
  background-color: rgb(219, 233, 228);
  color: rgb(19, 23, 26);
  border: 2px solid blue;
}
.navhead {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: black;
}
.navhead p {
color: rgb(14, 1, 1);
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
line-height: 25px;
text-transform: capitalize;
margin:1px 10px 15px;
word-spacing: 30px;

}
