.App {
  text-align: center;
  padding-left: calc(100vw - 100%);  
}

.appcont{
  background-image: url("https://i.ibb.co/dBPFt0Y/bg5.png");
  width: fit-content;
  align-self: flex-end;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 300px;
}
